<!DOCTYPE html>
<!--

 @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 @Since Feb 20, 2016
 @Time 9:59:54 PM
 @Encoding UTF-8
 @Project Aplikasi-Absensi-Server
 @Package Expression package is undefined on line 9, column 13 in Templates/Other/html.html.

-->
<div class="container">
    <h1 class="header center">Tentang Aplikasi</h1>
    <div class="row center">
        <h5 class="header col s12 light">
            Aplikasi ini dibuat dengan berbagai teknologi diantaranya :
            <ul>
                <li>Java 8</li>
                <li>Spring Boot</li>
                <li>Spring Data Rest (Representational State Transfer)</li>
                <li>Spring Data Redis</li>
                <li>Spring HATEOAS (Hypermedia As The Engine Of Application State)</li>
                <li>Spring Security</li>
                <li>Spring Oauth2 (Open Authentication 2)</li>
                <li>Spring JWT (Json Web Token)</li>
                <li>Angular JS</li>
                <li>OcLazyLoad</li>
                <li>Angular UI Router</li>
                <li>Angular Loading Bar</li>
                <li>Materializecss</li>
                <li>PostgreSQL</li>
                <li>HikariCP</li>
                <li>Jasper Report</li>
                <li>Barcode4j</li>
                <li>SLF4J</li>
                <li>Apache Tomcat 8</li>
                <li>Ionic</li>
            </ul>
        </h5>
    </div>

    <h1 class="header center">Tentang Saya</h1>
    <div class="row center">
        <h5 class="header col s12 light">
            Developer bernama Rizki Mufrizal, berasal dari aceh. Sekarang Developer sebagai mahasiswa aktif jurusan teknik informatika di Universitas Gunadarma. Di sela - sela kesibukan sebagai asisten laboratorium teknik informatika, Developer juga aktif dalam mempelajari berbagai teknologi open source terutama di bidang pemrograman Java, Javascript dan Linux.
        </h5>
    </div>
</div>
