<!DOCTYPE html>
<!--

 @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 @Since Feb 14, 2016
 @Time 11:38:19 AM
 @Encoding UTF-8
 @Project Aplikasi-Absensi-Server
 @Package Expression package is undefined on line 9, column 13 in Templates/Other/html.html.

-->
<div class="container">
    <h1 class="header center">Selamat Datang</h1>
    <div class="row center">
        <h5 class="header col s12 light">Aplikasi absensi berfungsi untuk melihat daftar kehadiran asisten</h5>
    </div>
    <div class="row center">
        <a class="btn-large waves-effect waves-light btn green">Get Started</a>
    </div>
</div>