<!--

 @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 @Since Feb 14, 2016
 @Time 10:04:54 PM
 @Encoding UTF-8
 @Project Aplikasi-Absensi-Client
 @Package Expression package is undefined on line 9, column 13 in Templates/Other/html.html.

-->
<ion-view view-title="About">
    <ion-content class="has-header">
        <div class="row">
            <div class="col">

                <div class="details">
                    <h4 class="center">Rizki Mufrizal</h4>
                    <p class="center">Full Stack Developer</p>
                </div>

                <div class="list card">
                    <a class="item item-icon-left" href="https://github.com/RizkiMufrizal">
                        <i class="icon ion-social-github"></i>Rizki Mufrizal
                    </a>
                    <a class="item item-icon-left" href="https://www.facebook.com/rizkimufrizal">
                        <i class="icon ion-social-facebook"></i>Rizki Mufrizal
                    </a>
                    <a class="item item-icon-left" href="https://www.linkedin.com/in/RizkiMufrizal">
                        <i class="icon ion-social-linkedin-outline"></i>Rizki Mufrizal
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-social-whatsapp-outline"></i>085359061036
                    </a>
                </div>

                <div class="list card">
                    <a class="item item-icon-left col-center" href="https://github.com/RizkiMufrizal">
                        <i class="icon ion-android-bulb"></i>Our Technology
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-social-angular"></i>Angular JS
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-social-javascript"></i>Java
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-social-html5"></i>HTML 5
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-social-tux"></i>Linux
                    </a>
                    <a class="item item-icon-left">
                        <i class="icon ion-social-android"></i>Android
                    </a>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
