<!--

 @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 @Since Feb 14, 2016
 @Time 10:04:54 PM
 @Encoding UTF-8
 @Project Aplikasi-Absensi-Client
 @Package Expression package is undefined on line 9, column 13 in Templates/Other/html.html.

-->
<ion-view view-title="Scanner">
    <ion-content style="background: #e8ebf1;" class="padding">
        <div class="card">
            <div class="item">
                <button class="button button-block button-positive" ng-click="scanBarcode()">
                    <i class="icon ion-qr-scanner"></i>
                    Scan Now
                </button>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Scan Results
            </div>
            <div class="item item-text-wrap" ng-if="hasilScan != ''">
                NPM Asisten : {{hasilScan}}
            </div>
        </div>
    </ion-content>
</ion-view>
