<!DOCTYPE html>
<!--

 @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 @Since Feb 14, 2016
 @Time 10:05:05 PM
 @Encoding UTF-8
 @Project Aplikasi-Absensi-Client
 @Package Expression package is undefined on line 9, column 13 in Templates/Other/html.html.

-->
<ion-view title="Sign In">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="npm">
                <input ng-model="inputLogin.npm" type="text" placeholder="NPM">
            </label>
            <label class="item item-input" name="password">
                <input ng-model="inputLogin.password" type="password" placeholder="Password">
            </label>
        </form>
        <button ng-click="loginProcess(inputLogin)" class="button button-block">Sign In</button>
    </ion-content>
</ion-view>
